body {
  margin: 0;
  background: #05010a;
  color: #c77dff;
  font-family: monospace;
  font-size: 22px;
}

/* ВАЖНО: это убирает все рамки и делает как терминал */
#editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 40px;

  outline: none;
  border: none;

  white-space: pre-wrap;   /* 🔥 фикс переносов */
  word-break: break-word;

  caret-color: #c77dff;
}
