body {
  margin: 0;
  background: #05010a;
  color: #c77dff;
  font-family: monospace;
  font: 'IBM Plex Mono'
  font-size: 24px;
}

#editor {
  position: absolute;
  inset: 0;
  padding: 40px;

  outline: none;
  border: none;

  white-space: pre-wrap;
  word-break: break-word;

  caret-color: #c77dff;
}
